alabaster==0.7.9
Babel==2.3.4
brewer2mpl==1.4.1
cffi==1.5.2
colorama==0.3.7
cryptography==1.3.1
cycler==0.9.0
decorator==4.0.6
docutils==0.12
docxtpl==0.2.2
enum34==1.1.2
future==0.15.2
h5py==2.5.0
idna==2.1
imageio==1.5
imagesize==0.7.1
ipaddress==1.0.16
Jinja2==2.8
lxml==3.6.1
MarkupSafe==0.23
matplotlib==1.5.1
moviepy==0.2.2.11
netaddr==0.7.18
numpy==1.10.4
pandas==0.17.1
-e git+git@bitbucket.org:protectionconsultants/pec_document.git@c026fbc9406b02438ac2e7d64c1e8eae13ca3e09#egg=pecdoc
-e git+git@bitbucket.org:protectionconsultants/pec_utility.git@4d78b77d381a03bc05e5d72b12c3ed72fcf9f824#egg=pecutil
pefile==2016.3.28
pelm==0.50
Pillow==3.1.0
pockets==0.3
py==1.4.31
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1.3
PyInstaller==3.2
pyminifier==2.1
pyparsing==2.0.3
pypiwin32==219
pytest==2.8.5
python-dateutil==2.4.2
python-docx==0.8.6
pytz==2016.6.1
reportlab==3.2.0
scipy==0.16.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.5
sphinx-rtd-theme==0.1.9
sphinxcontrib-napoleon==0.5.2
tqdm==4.7.6
